---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Section from "../components/Section.astro";
import Projects from "../components/Projects.astro";
import CodeIcon from "../components/icons/Code.astro";
import Line from "../components/Line.astro";
import UserIcon from "../components/icons/User.astro";
import Skills from "../components/Skills.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Portfolio AdrianDev - FullStack Developer"
	description="Contract Developer - FullStack Developer - Monterrey, México"
>
	<main class="px-6" id="home">
		<section class="w-full lg:w-[740px] mx-auto py-52">
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-wrap gap-4 lg:gap-x-4 pb-6 lg:pb-4"
			>
				Hey! i'm Adrián Chávez
				<div class="flex justify-center items-center flex-row">
					<a
						href="https://linkedin.com/in/adrianchvzz"
						target="_blank"
						rel="noopener"
						class="flex items-center justify-center"
						><Badge class="text-xs lg:text-base">Open to Work</Badge
						></a
					>
				</div>
			</h1>
			<h2
				class="text-white text-lg md:text-xl lg:text-xl opacity-80 max-w-[800px]"
			>
				<span>+1 year of experience as Full Stack Developer.</span>
				<span class="text-indigo-300">From Monterrey, Nuevo León.</span>
				<span class="opacity-80">
					I'm specialized in modern web development and unique
					applications.</span
				>
			</h2>

			<nav class="flex gap-4 mt-6 flex-wrap">
				<SocialPill href="https://linkedin.com/in/adrianchvzz">
					<LinkedInIcon class="size-4 md:size-6" />LinkedIn
				</SocialPill>

				<SocialPill href="https://github.com/adrianchvzz0">
					<GitHubIcon class="size-4 md:size-6" />GitHub
				</SocialPill>

				<SocialPill href="mailto:adrianchvzz@gmail.com">
					<MailIcon class="size-4 md:size-6" />adrianchvzz@gmail.com
				</SocialPill>
			</nav>
		</section>

		<Section
			id="skills"
			class="flex flex-col w-full lg:w-[740px] mx-auto py-28 lg:py-32"
		>
			<div class="gap-4">
				<h2
					class="text-white text-xl md:text-2xl lg:text-3xl font-semibold flex gap-x-2 justify-center items-center pb-6 lg:pb-4"
				>
					Skills.
				</h2>
			</div>
			<div
				class="h-px w-[300px] lg:w-[800px] bg-gradient-to-r from-transparent via-purple-500/80 to-transparent mb-8 lg:mb-12 rounded-full mx-auto"
			>
			</div>
			<Skills />
		</Section>

		<Section
			id="projects"
			class="w-full lg:w-[740px] mx-auto py-28 lg:py-32"
		>
			<div class="gap-4">
				<h2
					class="text-white text-xl md:text-2xl lg:text-3xl font-semibold flex gap-x-2 items-center pb-6 lg:pb-4"
				>
					<CodeIcon class="size-4 md:size-6 text-purple-500" />

					Projects.
				</h2>
			</div>
			<Line />

			<Projects />
		</Section>

		<!--Empieza el About-->
		<Section id="about" class="w-full lg:w-[740px] mx-auto py-28 lg:py-32">
			<div class="gap-4">
				<h2
					class="text-white text-xl md:text-2xl lg:text-3xl font-semibold flex gap-x-2 items-center pb-6 lg:pb-4"
				>
					<UserIcon class="size-4 md:size-6 text-purple-500" />

					About.
				</h2>
			</div>
			<Line />
			<div
				class="flex flex-col text-pretty text-lg
				justify-center items-center"
			>
				<img
					src="/images/logo.webp"
					alt="Adrian Dev Foto"
					class="size-28 md:size-16 lg:size-32 rounded-full mb-8 ring-4 ring-white/10"
				/>
				<p
					class="mb-2 text-center md:text-left font-medium text-pretty"
				>
					My name is Adrián Chávez, and I'm studying <span
						class="font-semibold text-indigo-300"
						>Multiplatform Software Development Engineering</span
					>.
				</p>

				<p class="mb-2 text-center md:text-left text-pretty">
					I'm passionate about both web and mobile application
					development. I've gained
					<span class="font-semibold text-indigo-300">UX/UI</span> design
					experience through self-learning, always focused on creating
					high-quality solutions in both design and functionality.
				</p>
			</div>
		</Section>

		<Section
			id="contact"
			class="w-full lg:w-[740px] mx-auto py-28 lg:py-32"
		>
			<div class="gap-4">
				<h2
					class="text-white text-xl md:text-2xl lg:text-3xl font-semibold flex gap-x-2 items-center pb-6 lg:pb-4"
				>
					<MailIcon class="size-4 md:size-6 text-purple-500" />

					Contact.
				</h2>
			</div>
			<Line />
			<div class="flex flex-col gap-2 items-center">
				<h5 class="text-xl md:text-2xl lg:text-lg font-semibold">
					Email
				</h5>
				<a
					href="mailto:adrianchvzz@gmail.com"
					class="underline text-white/85 hover:text-indigo-300 hover:scale-110 transition"
					>adrianchvzz@gmail.com</a
				>
				<h5 class="text-xl md:text-2xl lg:text-lg font-semibold">
					Phone
				</h5>
				<a
					href="tel:8187097029"
					class="underline text-white/85 hover:text-indigo-300 hover:scale-110 transition"
					>81 8709 7029</a
				>
				<h5 class="text-xl md:text-2xl lg:text-lg font-semibold">
					Address
				</h5>
				<p
					class="text-white/85 hover:text-indigo-300 hover:scale-110 transition"
				>
					Monterrey, Nuevo León
				</p>
			</div>
		</Section>
	</main>
</Layout>
