---
const { class: className } = Astro.props;
---

<span
    class={`${className} rounded-lg bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2 py-0.5 lg:px-2.5 lg:py-0.5 dark:bg-blue-900 dark:text-blue-300`}
>
    <slot />
</span>
